<h2>More information about {{helper.name}}'s question.</h2><hr>

<h3>Tech Helper Details</h3><hr>
{{helper.question}}
<hr><br>
{{helper.answer}}

<br>{{update-blog blog=blog updateBlog="updateBlog"}}<hr><br>
<button {{action 'delete' blog}}>Delete</button><hr>
