{{#if updateAnswerForm}}
<h1>Update {{answer.newName}}</h1>
<div>
  <form>
    <div class="form-group">
      <label for="newName">Name</label>
      {{input value=newName id="newName" placeholder=answer.newName}}
    </div>
    <div class="form-group">
      <label for="newAnswer">Answer</label>
      {{input value=newAnswer id="newAnswer" placeholder=answer.newAnswer}}
    </div>
    <button {{action 'update'}}>Save</button>
  </form>
</div>
{{else}}
<button {{action 'updateAnswerForm'}}>Update</button>
{{/if}}
