
{{helper-details helper=model destroyHelper="destroyHelper"}}
{{update-helper helper=model updateHelper="updateHelper"}}<br>


{{#if model.answers}}
  <h2>Here are some answers for your question {{helper.name}}:</h2>
  <hr>
  <div class="well">
    <ol>
      {{#each model.answers as |answer|}}
        <li><span class=bold>{{answer.newName}} says:</span>
          <br>
          {{answer.newAnswer}}
          <br>
        </li>
      {{/each}}
    </ol>
  </div>
{{/if}}

<br>{{new-answer saveAnswer="saveAnswer" helper=model}}
